@font-face {
    font-family: 'TexGyreAdventor';
    src: url('assets/tex-gyre-adventor.bold.otf');
}

:root, html, body{
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}
canvas{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url('assets/floor.png');
    background-repeat: repeat;
    background-size: 50%;
}
